@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RocketSite.Common.Models.Location
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create Location</h2>

    <form asp-action="Create" asp-controller="Location" method="post">
        <div>
            <div class="form-group">
                <label asp-for="Latitude"></label>
                <input type="text" asp-for="Latitude" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label asp-for="Longitude"></label>
                <input asp-for="Longitude" class="form-control  form-control-sm" />
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control  form-control-sm" />
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control  form-control-sm" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>

    <div>
        <a asp-controller="Location" asp-action="Index">Back to list</a>
    </div>
</div>