@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RocketSite.Common.Models.Location
@{ }

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
    <h2>Edit Location</h2>

    <form asp-action="Edit" asp-controller="Location">
        <div>
            <div class="form-group">
                <input type="text" name="First" value="@Model.Latitude" class="form-control" hidden />
                <input type="text" name="Second" value="@Model.Longitude" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Latitude"></label>
                <input type="text" asp-for="Latitude" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Longitude"></label>
                <input asp-for="Longitude" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>

    <div>
        <a asp-controller="Location" asp-action="Index">Вернуться к списку</a>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
