@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RocketSite.Common.Models.Rocket
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edit Rocket</h2>

    <form asp-action="Edit" asp-controller="Rocket">
        <div>
            <div class="form-group">
                <input type="text" name="First" value="@Model.Name" class="form-control" hidden />
                <input type="text" name="Second" value="@Model.Version" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Version"></label>
                <input asp-for="Version" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Weight"></label>
                <input asp-for="Weight" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Height"></label>
                <input asp-for="Height" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Diameter"></label>
                <input asp-for="Diameter" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cost"></label>
                <input asp-for="Cost" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Stages"></label>
                <input asp-for="Stages" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MassToLEO"></label>
                <input asp-for="MassToLEO" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MassToGTO"></label>
                <input asp-for="MassToGTO" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EngineType"></label>
                <input asp-for="EngineType" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>

    <div>
        <a asp-controller="Rocket" asp-action="Index">Back to list</a>
    </div>
</div>