@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RocketSite.Common.Models.Equipment
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create Equipment</h2>

    <form asp-action="Create" asp-controller="Equipment" method="post">
        <div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Producer"></label>
                <input asp-for="Producer" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cost"></label>
                <input asp-for="Cost" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rocket.Name"></label>
                <input asp-for="Rocket.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rocket.Version"></label>
                <input asp-for="Rocket.Version" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>

    <div>
        <a asp-controller="Equipment" asp-action="Index">Back to list</a>
    </div>
</div>