@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RocketSite.Common.Models.Employee
@using RocketSite.Common.Options
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create Employee</h2>

    <form asp-action="Create" asp-controller="Employee" method="post">
        <div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Education"></label>
                <input asp-for="Education" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Sex"></label>
                <select asp-for="Sex" class="form-control  form-control-sm"
                        asp-items="Html.GetEnumSelectList<SexOption>()">
                    <option>Select type ...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Profession"></label>
                <input asp-for="Profession" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TrainingProgram.Name">Program name</label>
                <input asp-for="TrainingProgram.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TrainingProgram.Coach"></label>
                <input asp-for="TrainingProgram.Coach" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>

    <div>
        <a asp-controller="Employee" asp-action="Index">Back to list</a>
    </div>
</div>